<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Card Example</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h2>My Profile Card</h2>

  <div class="card">
    <img src="/WDD130/cooldevjt/images/GuyandPC.jpg" alt="Jonathan" style="width:100%">
    <h1>Jonathan Tullis</h1>
    <p class="title">BYUI Student</p>
    <p>BYU-Idaho</p>
    <a href="thisisnotmyemail@gmail.com"><button>Contact</button></a>
  </div>

</body>
</html>
